
@media (min-width:768px) {
  .outermostContactContainer {
    height:60vh;
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/06/92/58/1000_F_206925823_SgmybBfJWW2pnWvywT0QGOZBfGpkUg2m.jpg");
    background-size:cover;
    display:flex;
    flex-direction:row;
    padding:50px;
    align-items: center;
}
  .FirstHalf {
    display:flex;
    flex-direction:column;
    width:50%;
    align-items:center;
  }

  .SecondHalf {
    display:flex;
    flex-direction:column;
    width:50%;
    background-color: white;
    color:black;
    padding:30px;
  }

}

@media (max-width:768px){
  .outermostContactContainer {
    height:100%;
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/06/92/58/1000_F_206925823_SgmybBfJWW2pnWvywT0QGOZBfGpkUg2m.jpg");
    background-size:cover;
    display:flex;
    flex-direction:column;
    padding:30px;
    align-items: center;
}
 
.FirstHalf {
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  margin-bottom:15px;
}

.SecondHalf {
  display:flex;
  flex-direction:column;
  background-color: white;
  color:black;
  padding:10px;
  width:80%;
  margin-left:40px;
  margin-right: 20px;
}
}



.contact-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .marginright {
    margin-right:10px;
  }